*{
    padding: 0;
    margin: 0;

}

body{
    font-family: "Times New Roman";
    font-size: 14px;
}

/*Estilos para el menu de los temas*/

.m-tema-rsu {
    /*background-color: rgba(185, 219, 180, .72);*/
    background: linear-gradient(0deg,rgba(185, 219, 180, .72) 90%, #28a745 18% );
    border-radius: 20px 20px 20px 20px;
    padding: 1rem;
    margin: 0px;

}

.m-bor-tema-rsu {
    background-color: rgb(40, 173, 86);
    position: relative;
    left: 4px;
    top: 0px;
    width: 97%;
    height: auto;
    border-radius: 20px 20px 0px 0px;

}
.rot{
    transform: rotate(273deg);
}

.nube{
    background: linear-gradient(270deg,rgba(185, 185, 185, .40) 99%, #28a745 18% );
    margin: 5px;
    position: relative;
}


* {
    margin: 0;
    padding: 0;
}

/*estilos para el footer*/

.footer-login{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28ad56;
    color: white;
    text-align: center;
}

.item h5 {
    padding: .5rem;
}


/*Header*/
body{
    background: white;
}
header{
    width: 100%;
    overflow: hidden;
    background: #28ad56;
    margin-bottom: 20px;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

header .Nombrelogo{
    color: white;
    font-size: 20px;
    line-height: 70px;

}

header nav{
    float: right;
    line-height: 50px;
}

header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;

}

header .logo{
    background: url("/img/uv-null.png");
    float: left;

}

section{
    width: 100%;
    overflow: hidden;
    background: darkgray;
    margin-bottom: 20px;
}

.responsive{
    max-width: 80%;
    width: 100%;
    height: auto;
}

/*Encabezado con Boostrap*/
.navbar{
    background-color: #28ad56;
}

.nav-link{
    font-family: 'Arial', sans-serif;
    color: white;
    float: right;
}

a{
    color: white;
}


/*Estilos Grid-Mapa-Buscador*/

.contenedor{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    background-color: white;
}


.item{
    background-color: white;
    padding: 1rem;
    margin: 1px;
    align-self: center;

}
/*Estilo gridchild-Buscador*/

.contenedorBuscador{
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-row-gap: 5px;
    margin-top: -40px;
    margin-left: 50px;

}

.itemBuscador{
    background-color: white;
    padding: 1rem;
    margin: 1px;
    border-color: black;
    align-self: center;

}

/*Estilos select*/

.select-item {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-item::-ms-expand {
    display: none;
}
.select-item:hover {
    border-color: #888;
}
.select-item:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-item option {
    font-weight:normal;
}

/*Nombre-Item*/
.name-item{
    font-family: 'Arial', sans-serif;
}

/*Estilos para el furmulario*/

.p-rsu{
    font-size: .9rem;
    text-align: justify;
}

.rsu-re{
    border-color: red !important;
    background: linear-gradient(270deg,#ffffff 99%, #142e58 30% );
    border-radius: 10px 10px 10px 10px ;


}

.rsu-rueda{
    border-radius: 150px 150px 150px 150px;
    background-color: rgba(185, 219, 180, 1);
    width: 10%;
    height: 40px;
    position: relative;
    color: white;
    text-align: center;
    left: 5%;
    top: 28px;
}

.item-rsu{
    position: relative;
    left: 20%;
}

.rsu-rueda p {
    position: relative;
    top: 5px;
}
.rsu-btn-s{
    position:relative;
    text-align: right;

}
.rsu-btn-s button{
    width: 50%;
}

.contenido-nube-1{
    height: 500px;
}


.carga{
    z-index: 2;
    width: 50%;
    position: relative;
    left: 25%;
    display: none;
}

.loadin{
    top: 200px;
    background-color: transparent;
    border-color: transparent;
}

.menuform li{
    display: block;
    float:left;
    padding: 1rem;
    color: #fd3000;

}

.menuform{
    position: relative;
    left: 5%;
    bottom: 50px;
}

#resultados_coloquios{
    display: none;
}

#docentes{
    display: none;
}

#agenda{
    display: none;
}

.resul-rsu{
    cursor: pointer;
}


